body {
    background-color: black;
}

.pad {
    display: flex;
    background-color:#212A33;
    width: 100vw;
    height: 100vh;
}

.left {

    white-space: pre-wrap;
    white-space: pre-line;
    width: 50vw;
    padding: 40px;
    height: 100%;
    background-color: aliceblue;

}

.right {
    background-color:#212A33;
    width: 50vw;
    color: aliceblue;
    height: 100%;
    padding: 40px;
    /* white-space: pre-wrap; */
    /* padding: 50px; */
}


blockquote p{
    color: gainsboro;
    font-weight: 800;
    border-left: solid white 2px;
    padding-left: 30px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: underline;
    color: yellow;
}

a:active {
    text-decoration: none;
    color: #FF0000;
}